<div id="<%= dom_id ceo %>">
  <p>
    <strong>Name:</strong>
    <%= ceo.name %>
  </p>

  <p>
    <strong>Compnay name:</strong>
    <%= ceo.compnay_name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= ceo.position %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= ceo.salary %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= ceo.date_of_birth %>
  </p>

</div>
