<div id="<%= dom_id supervisor %>">
  <p>
    <strong>Name:</strong>
    <%= supervisor.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= supervisor.position %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= supervisor.salary %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= supervisor.date_of_birth %>
  </p>

</div>
